let mapleader = " "

nnoremap <silent> <c-c> <c-c>:nohl<cr>

inoremap jk _
inoremap Jk _
cnoremap jk _
cnoremap Jk _

inoremap kj _
inoremap Kj _
cnoremap kj _
cnoremap Kj _

inoremap df <esc>
inoremap Df <esc>
cnoremap df <esc>
cnoremap Df <esc>

inoremap fd <esc>
inoremap Fd <esc>
cnoremap fd <esc>
cnoremap Fd <esc>

noremap <c-p> <c-y>
noremap <c-n> <c-e>
noremap H ^
noremap L $

noremap <silent> - :botright sp<cr>
noremap <silent> \ :botright vs<cr>

noremap <c-h> <c-w>h
noremap <c-j> <c-w>j
noremap <c-k> <c-w>k
noremap <c-l> <c-w>l

